
.App {
  text-align: center;
  .App-header {
    position:sticky;
    top: 0;
    left: 0;
    background-color: RGB(239, 243, 243);
    width: 100vw;
    height: 90px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    border-bottom: 0.75px solid rgba(17, 17, 17, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 7px 0px;
  }
  .App-body {
    width: 100vw;
    min-height: 80vh;
    background-color:RGB(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .App-footer {
    width: 100vw;
    background-color: RGB(239, 243, 243);
    border-top: 0.75px solid rgba(17, 17, 17, 0.5);
  }
}
