.App {
  /* text-align: center; */
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: RGB(239, 243, 243);
    z-index: 1000;

  }
  .App-body {
    // background-color: #282c34;
    min-height: 100vh;
    // padding: 0 100px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    // color: white;
  }
}

